#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}





.action-button {
  transition: transform 0.3s ease;
}

.action-button.spin {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
            transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
            transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
            transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(2.4deg);
            transform: translateX(5px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
            transform: translateX(-3px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-7px) rotate(-6deg);
            transform: translateX(-7px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
            transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
            transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(2.4deg);
            transform: translateX(5px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
            transform: translateX(-3px) rotate(-1.2deg);
  }
}
